*{
    margin: 0;
    padding: 0;
}

.especialidadesaside{
    background-color: whitesmoke;
    width: 450px;
    border-radius: 10px;
}

.especialidadesaside h3{
    background-color:rgb(99, 205, 205);
    color: whitesmoke;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: larger;
    text-align: center;
    padding: 20px;
    border-radius: 10px;
    width: 100%;
}

.especialidadesaside ul{
    list-style: none;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: whitesmoke;
    font-size: 20px;
    text-align: center;
    background-color: gray;
    padding: 10px;
    border-radius: 10px;
}

.especialidadesaside ul li{
    margin-top: 10px;
}


@keyframes efecto_indegalogo{
0%{opacity:1;}
25%{opacity:0;}
50%{opacity:1;}
75%{opacity:0;}
100%{opacity:1;}
}



a:hover {
    background-color: rgba(228, 241, 241, 0.735);
    border-radius: 20px;
}

a{text-decoration: none;
    color: white;   
}



.listasespecialidadesBT{
    background-color: whitesmoke;
    margin-top: 50px;
    
}

.listasespecialidadesBT ul{
    list-style: none;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: whitesmoke;
    height: 380px;
    width:auto;
    font-size: large;
    text-align: center;
    background-color: gray;
    padding: 20px;
    margin-top: 50px;
    border-radius: 10px;
}

.listasespecialidadesBT ul li{
    margin-top: 10px;
}


.formulario{
    padding: 20px;
    margin-top: 50px;
}

.formulario ul{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: medium;
    text-align: center;
    list-style: none;
    background-color: gray;
    color: whitesmoke;
    padding: 20px;
    border-radius: 10%;
}

.formulario ul li{
    margin-top: 10px;
}

.formulario img{
    padding: 20px;
}

.bodyBT{
    background-color: whitesmoke;
}

.redesydireccionBT{
    background-color: rgb(71, 74, 73);
    padding: 10px;
}

.direccionBT{
    color: white;
    padding: 10px;
}

.logoynavBT{
    margin: 8px;
}

.indegalogoBT{
    animation-name: efecto_indegalogo;
    animation-iteration-count: calc(3);
    animation-timing-function: linear;
    animation-duration: 5s;
    animation-delay: 2s;
}

.indegalogoBT:hover{
    transform: rotateY(360deg);
    transition: 5s;
}

.textoh2BT{
    color: rgb(63, 63, 63);
    margin: 20px;
}

.navbar{
    border-radius: 10px;
}

.fondoindegaBT{
    background-image: url(./img/INDEGA\ IMAGEN\ GRANDE.jpg);
    background-size:cover; 
    height: 450px;
    width: auto;
    margin-top: 20px;
}

.parrafo1BT{
    color: rgb(93, 93, 93);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 30px;
    padding: 20px;
    text-align: center;
}

.estudiosypatologiasBT{
    background-color: gray;
    color: whitesmoke;
    padding: 20px;
    margin-top: 20px;
    text-align: center;
    align-items: center;
    width: auto;
}

.tarjetasBT{
    margin-top: 50px;
    width: auto;
}

.card{
    margin-top: 20px;
    height: auto;
    background-color: gray;
    color: white;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 15x;
}

.card-body{
    background-color:rgb(99, 205, 205) ;
}

.ubicacionBT{
    background-color: rgb(99, 205, 205);
    color: whitesmoke;
    font-size: medium;
    padding: 20px;
    margin-top: 20px;
    text-align: center;
    align-items: center;
    width: auto;
}

.mapaBT{
    background-color: whitesmoke;
    width: auto;
    margin-top: 20px;
}

.pieBT{
    background-image: linear-gradient(to bottom, rgb(71, 74, 73), rgb(31, 32, 32));
    color: whitesmoke;
    margin-top: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 20px;
    text-align: center;
}

.tarjetafooterBT{
    margin-top: 30px;
}

.tituloeimagenequipoBT{
    background-color: rgb(99, 205, 205);
    color: white;
    width:auto;
    height: 400px;
}
